@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  @apply text-white
}

@layer components{
  .icon-style{
    @apply text-[#EEB33B] bg-[#6C5B3F] w-10 h-10 lg:w-12 lg:h-12 rounded-full p-[6px] box-border
  }
  .neutral{
    @apply text-[#E8EABB]
  }

  

  .btn{
    @apply bg-[#EEB33B] text-black rounded-[100px]
  }

  .text-color{
    @apply text-[#D3D3D3]
  }
}

.heading{
  background: var(--heading, radial-gradient(5034.74% 67.15% at 50.00% 44.83%, #E8EABC 0%, #EEB33B 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body{
  background-color: #0cbaba;
    background-image: linear-gradient(99deg,#0cbaba,#380036 74%);
    color: wheat;
  min-width:320px;
}
.bg-card{
  background: radial-gradient(#eeb33b, transparent);
}