@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  @apply text-white
}

@layer components{
  .icon-style{
    @apply text-[#EEB33B] bg-[#6C5B3F] w-10 h-10 lg:w-12 lg:h-12 rounded-full p-[6px] box-border
  }
  .neutral{
    @apply text-[#E8EABB]
  }

  

  .btn{
    @apply bg-[#EEB33B] text-black rounded-[100px]
  }

  .text-color{
    @apply text-[#D3D3D3]
  }
}

.heading{
  background: var(--heading, radial-gradient(5034.74% 67.15% at 50.00% 44.83%, #E8EABC 0%, #EEB33B 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


body {
  background-color: #cebf80;
  background-image: linear-gradient(300deg, #cebf80, #000 74%);
  color: wheat;
  min-width: 320px;
}



.bg-card{
  background: rgba( 163, 34, 34, 0.15 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px dashed rgba( 255, 255, 255, 0.18 );
}


.bg-cardevents{
  background: radial-gradient(#bc42b5, #559b4e);
}

.bg-photos{
  background-color: #a55c1b;
background-image: linear-gradient(315deg, #a55c1b 0%, #381111  74%);
}


.shadowCard{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.custom-text-edge-cap {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-transform: capitalize;
}